<a href="https://colab.research.google.com/github/Freya-LR/Leetcode/blob/main/180.Consecutive%20Numbers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Write an SQL query to find all numbers that appear at least three times consecutively.

In [ ]:
# Write your MySQL query statement below
SELECT DISTINCT num as ConsecutiveNums
FROM Logs
WHERE (id+1, num) in (SELECT * FROM Logs) and (id+2, num) in (SELECT * FROM Logs)

In [ ]:
/* Write your T-SQL query statement below */
SELECT DISTINCT l1.num AS ConsecutiveNums
FROM Logs l1
 Join Logs l2  on l1.id = l2.id-1 
 join Logs l3 on l1.id=l3.id-2
 where  l1.num=l2.num
 and l1.num=l3.num